export("colclasses<-")
export(alleq)
export(cat.matrix)
export(cbind.list)
export(cbind.smart)
export(choose.pairs)
export(choose.trios)
export(clean.tempdir)
export(colMax)
export(colMin)
export(colSD)
export(colapply)
export(colclasses)
export(collate.data.frame)
export(colnames2row)
export(column2rownames)
export(count.na)
export(count.null)
export(dRange)
export(density_lower_tri)
export(density_upper_tri)
export(dir.Rdata)
export(dir.remove)
export(dir.same)
export(dir.size)
export(dir.sort)
export(even)
export(file.gunzip)
export(file.gzip)
export(file.isgzip)
export(file.issymlink)
export(file.move)
export(get.char)
export(grepf)
export(grepfl)
export(has.names)
export(interleave.columns)
export(intersectN)
export(is.alnum)
export(is.alpha)
export(is.dir)
export(is.file)
export(is.matrix.like)
export(is.sorted)
export(is.unique)
export(is.url)
export(isMac)
export(isWindows)
export(keyval2hashtable)
export(lbind)
export(lgrep)
export(list2adjmat)
export(list2df)
export(lookUp)
export(maxN)
export(mgrep)
export(mgrepl)
export(midpoints)
export(minN)
export(move.column)
export(na.rm)
export(odd)
export(ones)
export(pad)
export(perl.oneliner)
export(prettyNum)
export(print.venn)
export(qn)
export(range_merge)
export(rbind.list)
export(rbind.smart)
export(readLine)
export(recycle)
export(reorder.list)
export(rep_list)
export(rm.na)
export(rot)
export(row2colnames)
export(rowMAD)
export(rowMax)
export(rowMedian)
export(rowMin)
export(rowPaste)
export(rowRange)
export(rowSD)
export(rowVar)
export(rowapply)
export(rownames2col)
export(scale2)
export(skipLine)
export(sortnum)
export(sourcelog)
export(split_into_batches)
export(squashWarnings)
export(str.left)
export(str.right)
export(strcat)
export(strip.fileextension)
export(strlen)
export(subdirs.same)
export(symmetricise)
export(table2hashtable)
export(threshold.distance.matrix)
export(time_diff)
export(to.alnum)
export(to.char.array)
export(tocsv)
export(trim)
export(trunc)
export(ucounts)
export(uncsv)
export(unionN)
export(vector2hashtable)
export(which.2D)
export(which.max.2D)
export(which.maxN)
export(which.maxN.2D)
export(which.min.2D)
export(which.minN)
export(which.minN.2D)
export(which.percentile)
export(which.quartile)
export(write.delim)
export(write.delim.list)
export(write.venn.2D.xls)
export(write.venn.3D.xls)
export(writeLines.list)
export(zeros)
export(zip)
export(zipdir)
importFrom(stats,reorder)
