export("colclasses<-")
export(cat.matrix)
export(choose.pairs)
export(choose.trios)
export(clean.tempdir)
export(colclasses)
export(colnames2row)
export(column2rownames)
export(count.na)
export(count.null)
export(density_lower_tri)
export(density_upper_tri)
export(dir.Rdata)
export(dir.sort)
export(get.char)
export(is.alnum)
export(is.alpha)
export(is.sorted)
export(is.unique)
export(maxN)
export(midpoints)
export(minN)
export(ones)
export(pad)
export(qn)
export(range_merge)
export(readLine)
export(recycle)
export(reorder.list)
export(rep_list)
export(rm.na)
export(row2colnames)
export(rownames2col)
export(scale2)
export(skipLine)
export(sortnum)
export(sourcelog)
export(split_into_batches)
export(strcat)
export(strlen)
export(time_diff)
export(to.alnum)
export(to.char.array)
export(trim)
export(ucounts)
export(uncsv)
export(which.2D)
export(which.max.2D)
export(which.maxN)
export(which.maxN.2D)
export(which.min.2D)
export(which.minN)
export(which.minN.2D)
export(zeros)
importFrom(stats,reorder)
